*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
main {
    font-family: "Heebo", sans-serif ;
}
@font-face{
    font-family: Heebo;
    src: url("fonts/Heebo-VariableFont_wght.ttf");

@font-face {
    font-family: lobster;
    src: url("fonts/Lobster-Regular.ttf");
}

}
.landing {
    min-height: 100vh;
    background: url(happy.jpg);
    background-size: cover;
    padding-left: 5rem;
    padding-right: 5rem;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}
.links{
    display: flex;
    list-style: none;
}
.links li {
    padding-left: 10rem;
    font-size: 1.2rem;
}
#logo {
    font-family: "lobster", cursive;
    font-weight: lighter;
    font-size: 2rem;
}
.big {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 5rem;
    font-family: "lobster", cursive;
}
html, body {
    color: rgb(0, 0, 255);
}
.intro {
    background-color: rgb(211, 211, 211);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    padding: 0;
    border: 0;

}
.text{
    color: blue;
    font-family: "Heebo", sans-serif ;
    font-size: 3rem;
}
.slider {
    background-color: rgb(142, 160, 218);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%)
}
.hide {
    background: rgb(211, 211, 211);
    overflow: hidden;
}
.hide span{
    transform: translateY(100%);
    display: inline-block;
}
